.contenedor{
    width: 1300px;
}
p{/* centrado, bloque */
    text-align: center;
    display: block;
}
.azul{/*color letras #0a2ff1*/
    color: #0a2ff1;
}
.evento1{/*fondo negro, letras blancas*/
    background-color: black;
    color: white;
}
.fecha{/*Montserrat black 50pt*/
    font-family: 'Montserrat', cursive;
    font-size: 50pt;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 70px 0;
}
.evento1{/*Montserrat black 148pt*/
    font-family: 'Montserrat', cursive;
    font-size: 148pt;
    font-weight: 800;
    margin: 0;
}
.evento2{/*Montserrat black 163pt*/
    font-family: 'Montserrat', cursive;
    font-size: 163pt;
    font-weight: 900;
    margin: 0;
    padding: 140px;
}
.descuento{/*Montserrat black 45pt*/
    font-family: 'Montserrat', cursive;
    font-size: 45pt;
    font-weight: 700;
    margin: 0;
    padding: 10px;
}
.aviso{/*Montserrat black 44pt*/
    font-family: 'Montserrat', cursive;
    font-size: 44pt;
    font-weight: 600;
    margin: 0;
    padding: 40px 0 5px 0;
}
.franja-superior, .franja-inferior{
    background-color: #0a2ff1;
}
.resaltado{
    background-color: black;
    color: white;
}
.franja-superior{
    height: 60px;
}
.franja-inferior{
    height: 100px;
}